<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <header class="w-full flex align-center p-10 border-[3px]">
        <%- include('./partials/navbar.ejs') %>
    </header>
    <main>
        <section class="p-10">
            <h2>Ooops ! Your Pages Gone</h2>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>