<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <header class="w-full flex align-center p-10 border-[3px]">
        <%- include('./partials/navbar.ejs') %>
    </header>
    <main>
        <section>
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae ultrices purus, a porta dolor. Curabitur finibus
            risus turpis, eget tempus tellus consectetur sed. In hendrerit, massa at varius sodales, lacus ex pulvinar odio, sit
            amet lobortis velit purus eu elit. Nam varius pretium mi nec mattis. Morbi volutpat nibh erat, non pulvinar massa
            finibus eget.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae ultrices purus, a porta dolor. Curabitur finibus
            risus turpis, eget tempus tellus consectetur sed. In hendrerit, massa at varius sodales, lacus ex pulvinar odio, sit
            amet lobortis velit purus eu elit. Nam varius pretium mi nec mattis. Morbi volutpat nibh erat, non pulvinar massa
            finibus eget.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae ultrices purus, a porta dolor. Curabitur finibus
            risus turpis, eget tempus tellus consectetur sed. In hendrerit, massa at varius sodales, lacus ex pulvinar odio, sit
            amet lobortis velit purus eu elit. Nam varius pretium mi nec mattis. Morbi volutpat nibh erat, non pulvinar massa
            finibus eget.</p>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>