<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <header class="w-full flex align-center p-10 border-[3px]">
        <%- include('./partials/navbar.ejs') %>
    </header>
    <main>
        <section class="p-8">
            <form class="flex flex-col gap-4">
                <label for="title">Blog title:</label>
                <input type="text" id="title" name="title" required>
                <label for="snippet">Blog snippet:</label>
                <input type="text" id="snippet" name="snippet" required>
                <label for="body">Blog body:</label>
                <textarea id="body" name="body" required></textarea>
                <button>Submit</button>
            </form>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>